<h2>Create a new drone</h2>
<form action="/drones/create" method="post">
    <p>Name</p>
    <input type="text" name="name">
    <p>Propellers</p>
    <input type="number" name="propellers">
    <p>Max Speed</p>
    <input type="number" name="maxSpeed">
    <br>
    <br>
    <button type="submit">Create</button>
</form>